# Larvi Environment Variables

# LLM
GEMINI_API_KEY=

# Google OAuth
GOOGLE_CLIENT_SECRET_FILE=backend/auth/credentials.json
GOOGLE_TOKEN_FILE=backend/auth/token.json

# Application
APP_NAME=Larvi AI Assistant
DEBUG=True
